// ----------- Roboto Condensed -----------
@font-face {
  font-family: 'Roboto Condensed';
  src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'),
    url('../fonts/RobotoCondensed/RobotoCondensed-Bold.woff2') format('woff2'),
    url('../fonts/RobotoCondensed/RobotoCondensed-Bold.woff') format('woff'),
    url('../fonts/RobotoCondensed/RobotoCondensed-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: local('Roboto Condensed Bold Italic'), local('RobotoCondensed-BoldItalic'),
    url('../fonts/RobotoCondensed/RobotoCondensed-BoldItalic.woff2') format('woff2'),
    url('../fonts/RobotoCondensed/RobotoCondensed-BoldItalic.woff') format('woff'),
    url('../fonts/RobotoCondensed/RobotoCondensed-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: local('Roboto Condensed Italic'), local('RobotoCondensed-Italic'),
    url('../fonts/RobotoCondensed/RobotoCondensed-Italic.woff2') format('woff2'),
    url('../fonts/RobotoCondensed/RobotoCondensed-Italic.woff') format('woff'),
    url('../fonts/RobotoCondensed/RobotoCondensed-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'),
    url('../fonts/RobotoCondensed/RobotoCondensed-Light.woff2') format('woff2'),
    url('../fonts/RobotoCondensed/RobotoCondensed-Light.woff') format('woff'),
    url('../fonts/RobotoCondensed/RobotoCondensed-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: local('Roboto Condensed Light Italic'), local('RobotoCondensed-LightItalic'),
    url('../fonts/RobotoCondensed/RobotoCondensed-LightItalic.woff2') format('woff2'),
    url('../fonts/RobotoCondensed/RobotoCondensed-LightItalic.woff') format('woff'),
    url('../fonts/RobotoCondensed/RobotoCondensed-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'),
    url('../fonts/RobotoCondensed/RobotoCondensed-Regular.woff2') format('woff2'),
    url('../fonts/RobotoCondensed/RobotoCondensed-Regular.woff') format('woff'),
    url('../fonts/RobotoCondensed/RobotoCondensed-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

// ----------- Cheshirskiy Cat -----------
@font-face {
  font-family: 'Cheshirskiy Cat';
  src: local('Cheshirskiy Cat'), local('CheshirskiyCat'),
    url('../fonts/CheshirskiyCat/CheshirskiyCat.woff2') format('woff2'),
    url('../fonts/CheshirskiyCat/CheshirskiyCat.woff') format('woff'),
    url('../fonts/CheshirskiyCat/CheshirskiyCat.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}