.sing-up {
	max-width: 360px;
	margin: 0 auto;

	&__field {
    margin-bottom: 5px;
  }

	&__label {
		margin-bottom: 5px;
  }

	&__title {
		font-size: 19px;
		text-align: center;
		margin-bottom: 20px;
	}
	
  &__btn {
		width: 100%;
		margin-top: 20px;
  }
}
