.time-ruler {
  &__empty-row {
    height: 35px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    &_high {
      height: 67px;
    }
  }

  &__cell {
    height: 56px;
    user-select: none;

    &:first-child {
      opacity: 0;
    }
  }

  &__time {
    transform: translateY(-9px);
    font-size: 13px;
    text-align: center;
  }
}
